<p id="notice"><%= notice %></p>

<p>
  <strong>Creator:</strong>
  <%= @creator_tag.creator %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @creator_tag.tag %>
</p>

<%= link_to 'Edit', edit_creator_tag_path(@creator_tag) %> |
<%= link_to 'Back', creator_tags_path %>
