<p id="notice"><%= notice %></p>

<h1>Listing Core Creator Categories</h1>

<table>
  <thead>
    <tr>
      <th>Creator</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @core_creator_categories.each do |core_creator_category| %>
      <tr>
        <td><%= core_creator_category.creator %></td>
        <td><%= core_creator_category.category %></td>
        <td><%= link_to 'Show', core_creator_category %></td>
        <td><%= link_to 'Edit', edit_core_creator_category_path(core_creator_category) %></td>
        <td><%= link_to 'Destroy', core_creator_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Creator category', new_core_creator_category_path %>
