<p id="notice"><%= notice %></p>

<p>
  <strong>Creator:</strong>
  <%= @core_creator_category.creator %>
</p>

<p>
  <strong>Category:</strong>
  <%= @core_creator_category.category %>
</p>

<%= link_to 'Edit', edit_core_creator_category_path(@core_creator_category) %> |
<%= link_to 'Back', core_creator_categories_path %>
