<p id="notice"><%= notice %></p>

<h1>Listing Creation Images</h1>

<table>
  <thead>
    <tr>
      <th>Creation</th>
      <th>Image</th>
      <th>Image name for user</th>
      <th>Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @creation_images.each do |creation_image| %>
      <tr>
        <td><%= creation_image.creation %></td>
        <td><%= creation_image.image %></td>
        <td><%= creation_image.image_name_for_user %></td>
        <td><%= creation_image.order %></td>
        <td><%= link_to 'Show', creation_image %></td>
        <td><%= link_to 'Edit', edit_creation_image_path(creation_image) %></td>
        <td><%= link_to 'Destroy', creation_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Creation image', new_creation_image_path %>
