<p id="notice"><%= notice %></p>

<h1>Listing Manage Collections</h1>

<table>
  <thead>
    <tr>
      <th>Sid</th>
      <th>User</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manage_collections.each do |manage_collection| %>
      <tr>
        <td><%= manage_collection.sid %></td>
        <td><%= manage_collection.user %></td>
        <td><%= manage_collection.title %></td>
        <td><%= link_to 'Show', manage_collection %></td>
        <td><%= link_to 'Edit', edit_manage_collection_path(manage_collection) %></td>
        <td><%= link_to 'Destroy', manage_collection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Collection', new_manage_collection_path %>
