<p id="notice"><%= notice %></p>

<p>
  <strong>Sid:</strong>
  <%= @manage_collection.sid %>
</p>

<p>
  <strong>User:</strong>
  <%= @manage_collection.user %>
</p>

<p>
  <strong>Title:</strong>
  <%= @manage_collection.title %>
</p>

<%= link_to 'Edit', edit_manage_collection_path(@manage_collection) %> |
<%= link_to 'Back', manage_collections_path %>
