<p id="notice"><%= notice %></p>

<h1>Listing Site User Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @site_user_statuses.each do |site_user_status| %>
      <tr>
        <td><%= site_user_status.name %></td>
        <td><%= link_to 'Show', site_user_status %></td>
        <td><%= link_to 'Edit', edit_site_user_status_path(site_user_status) %></td>
        <td><%= link_to 'Destroy', site_user_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Site user status', new_site_user_status_path %>
