<p id="notice"><%= notice %></p>

<h1>Listing Manage Collection Creations</h1>

<table>
  <thead>
    <tr>
      <th>Collection</th>
      <th>Creation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manage_collection_creations.each do |manage_collection_creation| %>
      <tr>
        <td><%= manage_collection_creation.collection %></td>
        <td><%= manage_collection_creation.creation %></td>
        <td><%= link_to 'Show', manage_collection_creation %></td>
        <td><%= link_to 'Edit', edit_manage_collection_creation_path(manage_collection_creation) %></td>
        <td><%= link_to 'Destroy', manage_collection_creation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Collection creation', new_manage_collection_creation_path %>
