<p id="notice"><%= notice %></p>

<p>
  <strong>Collection:</strong>
  <%= @manage_collection_creation.collection %>
</p>

<p>
  <strong>Creation:</strong>
  <%= @manage_collection_creation.creation %>
</p>

<%= link_to 'Edit', edit_manage_collection_creation_path(@manage_collection_creation) %> |
<%= link_to 'Back', manage_collection_creations_path %>
