<p id="notice"><%= notice %></p>

<p>
  <strong>Sid:</strong>
  <%= @comment.sid %>
</p>

<p>
  <strong>Creation:</strong>
  <%= @comment.creation %>
</p>

<p>
  <strong>Site user:</strong>
  <%= @comment.site_user %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @comment.parent %>
</p>

<p>
  <strong>Notice code:</strong>
  <%= @comment.notice_code %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
