<%= form_for(@manage_creator_category) do |f| %>
  <% if @manage_creator_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manage_creator_category.errors.count, "error") %> prohibited this manage_creator_category from being saved:</h2>

      <ul>
      <% @manage_creator_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :creator_id %><br>
    <%= f.text_field :creator_id %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.text_field :category_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
