<p id="notice"><%= notice %></p>

<p>
  <strong>Creator:</strong>
  <%= @manage_creator_category.creator %>
</p>

<p>
  <strong>Category:</strong>
  <%= @manage_creator_category.category %>
</p>

<%= link_to 'Edit', edit_manage_creator_category_path(@manage_creator_category) %> |
<%= link_to 'Back', manage_creator_categories_path %>
