<p id="notice"><%= notice %></p>

<p>
  <strong>Sid:</strong>
  <%= @creation.sid %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @creation.creator %>
</p>

<p>
  <strong>Title:</strong>
  <%= @creation.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @creation.description %>
</p>

<p>
  <strong>License code:</strong>
  <%= @creation.license_code %>
</p>

<%= link_to 'Edit', edit_creation_path(@creation) %> |
<%= link_to 'Back', creations_path %>
