<p id="notice"><%= notice %></p>

<h1>Listing Site User Header Images</h1>

<table>
  <thead>
    <tr>
      <th>Site user</th>
      <th>Image</th>
      <th>Image name for user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @site_user_header_images.each do |site_user_header_image| %>
      <tr>
        <td><%= site_user_header_image.site_user %></td>
        <td><%= site_user_header_image.image %></td>
        <td><%= site_user_header_image.image_name_for_user %></td>
        <td><%= link_to 'Show', site_user_header_image %></td>
        <td><%= link_to 'Edit', edit_site_user_header_image_path(site_user_header_image) %></td>
        <td><%= link_to 'Destroy', site_user_header_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Site user header image', new_site_user_header_image_path %>
