<p id="notice"><%= notice %></p>

<p>
  <strong>Creation:</strong>
  <%= @core_creation_tag.creation %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @core_creation_tag.tag %>
</p>

<%= link_to 'Edit', edit_core_creation_tag_path(@core_creation_tag) %> |
<%= link_to 'Back', core_creation_tags_path %>
