<p id="notice"><%= notice %></p>

<h1>Listing Core Creation Categories</h1>

<table>
  <thead>
    <tr>
      <th>Creation</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @core_creation_categories.each do |core_creation_category| %>
      <tr>
        <td><%= core_creation_category.creation %></td>
        <td><%= core_creation_category.category %></td>
        <td><%= link_to 'Show', core_creation_category %></td>
        <td><%= link_to 'Edit', edit_core_creation_category_path(core_creation_category) %></td>
        <td><%= link_to 'Destroy', core_creation_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Creation category', new_core_creation_category_path %>
