<p id="notice"><%= notice %></p>

<h1>Listing Core Reports</h1>

<table>
  <thead>
    <tr>
      <th>Creation</th>
      <th>User</th>
      <th>Title</th>
      <th>Detail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @core_reports.each do |core_report| %>
      <tr>
        <td><%= core_report.creation %></td>
        <td><%= core_report.user %></td>
        <td><%= core_report.title %></td>
        <td><%= core_report.detail %></td>
        <td><%= link_to 'Show', core_report %></td>
        <td><%= link_to 'Edit', edit_core_report_path(core_report) %></td>
        <td><%= link_to 'Destroy', core_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report', new_core_report_path %>
