<p id="notice"><%= notice %></p>

<h1>Listing Manage Tags</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manage_tags.each do |manage_tag| %>
      <tr>
        <td><%= manage_tag.name %></td>
        <td><%= link_to 'Show', manage_tag %></td>
        <td><%= link_to 'Edit', edit_manage_tag_path(manage_tag) %></td>
        <td><%= link_to 'Destroy', manage_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tag', new_manage_tag_path %>
