<%= form_for(@core_user) do |f| %>
  <% if @core_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@core_user.errors.count, "error") %> prohibited this core_user from being saved:</h2>

      <ul>
      <% @core_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :baas_id %><br>
    <%= f.text_field :baas_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
