<p id="notice"><%= notice %></p>

<h1>Listing Core Users</h1>

<table>
  <thead>
    <tr>
      <th>Baas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @core_users.each do |core_user| %>
      <tr>
        <td><%= core_user.baas_id %></td>
        <td><%= link_to 'Show', core_user %></td>
        <td><%= link_to 'Edit', edit_core_user_path(core_user) %></td>
        <td><%= link_to 'Destroy', core_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_core_user_path %>
