<p id="notice"><%= notice %></p>

<p>
  <strong>Sid:</strong>
  <%= @site_user.sid %>
</p>

<p>
  <strong>Biography:</strong>
  <%= @site_user.biography %>
</p>

<p>
  <strong>Tos accepted:</strong>
  <%= @site_user.tos_accepted %>
</p>

<p>
  <strong>Site user status:</strong>
  <%= @site_user.site_user_status %>
</p>

<%= link_to 'Edit', edit_site_user_path(@site_user) %> |
<%= link_to 'Back', site_users_path %>
