<p id="notice"><%= notice %></p>

<h1>Listing Creator Categories</h1>

<table>
  <thead>
    <tr>
      <th>Creator</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @creator_categories.each do |creator_category| %>
      <tr>
        <td><%= creator_category.creator %></td>
        <td><%= creator_category.category %></td>
        <td><%= link_to 'Show', creator_category %></td>
        <td><%= link_to 'Edit', edit_creator_category_path(creator_category) %></td>
        <td><%= link_to 'Destroy', creator_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Creator category', new_creator_category_path %>
