<p id="notice"><%= notice %></p>

<p>
  <strong>Site user:</strong>
  <%= @site_user_image.site_user %>
</p>

<p>
  <strong>Image:</strong>
  <%= @site_user_image.image %>
</p>

<p>
  <strong>In use:</strong>
  <%= @site_user_image.in_use %>
</p>

<p>
  <strong>Order:</strong>
  <%= @site_user_image.order %>
</p>

<%= link_to 'Edit', edit_site_user_image_path(@site_user_image) %> |
<%= link_to 'Back', site_user_images_path %>
