<p id="notice"><%= notice %></p>

<h1>Listing Manage Pieces</h1>

<table>
  <thead>
    <tr>
      <th>Creation</th>
      <th>Name</th>
      <th>Description</th>
      <th>File name</th>
      <th>Format</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manage_pieces.each do |manage_piece| %>
      <tr>
        <td><%= manage_piece.creation %></td>
        <td><%= manage_piece.name %></td>
        <td><%= manage_piece.description %></td>
        <td><%= manage_piece.file_name %></td>
        <td><%= manage_piece.format %></td>
        <td><%= manage_piece.image %></td>
        <td><%= link_to 'Show', manage_piece %></td>
        <td><%= link_to 'Edit', edit_manage_piece_path(manage_piece) %></td>
        <td><%= link_to 'Destroy', manage_piece, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Piece', new_manage_piece_path %>
