<p id="notice"><%= notice %></p>

<p>
  <strong>Creation:</strong>
  <%= @manage_piece.creation %>
</p>

<p>
  <strong>Name:</strong>
  <%= @manage_piece.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @manage_piece.description %>
</p>

<p>
  <strong>File name:</strong>
  <%= @manage_piece.file_name %>
</p>

<p>
  <strong>Format:</strong>
  <%= @manage_piece.format %>
</p>

<p>
  <strong>Image:</strong>
  <%= @manage_piece.image %>
</p>

<%= link_to 'Edit', edit_manage_piece_path(@manage_piece) %> |
<%= link_to 'Back', manage_pieces_path %>
