<p id="notice"><%= notice %></p>

<h1>Listing Manage Creation Comments</h1>

<table>
  <thead>
    <tr>
      <th>Sid</th>
      <th>Creation</th>
      <th>User</th>
      <th>Parent</th>
      <th>Notice code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manage_creation_comments.each do |manage_creation_comment| %>
      <tr>
        <td><%= manage_creation_comment.sid %></td>
        <td><%= manage_creation_comment.creation %></td>
        <td><%= manage_creation_comment.user %></td>
        <td><%= manage_creation_comment.parent %></td>
        <td><%= manage_creation_comment.notice_code %></td>
        <td><%= link_to 'Show', manage_creation_comment %></td>
        <td><%= link_to 'Edit', edit_manage_creation_comment_path(manage_creation_comment) %></td>
        <td><%= link_to 'Destroy', manage_creation_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Creation comment', new_manage_creation_comment_path %>
