<%= form_for(@manage_good) do |f| %>
  <% if @manage_good.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manage_good.errors.count, "error") %> prohibited this manage_good from being saved:</h2>

      <ul>
      <% @manage_good.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :creation_id %><br>
    <%= f.text_field :creation_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
