<p id="notice"><%= notice %></p>

<h1>Listing Manage Reports</h1>

<table>
  <thead>
    <tr>
      <th>Creation</th>
      <th>User</th>
      <th>Title</th>
      <th>Detail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manage_reports.each do |manage_report| %>
      <tr>
        <td><%= manage_report.creation %></td>
        <td><%= manage_report.user %></td>
        <td><%= manage_report.title %></td>
        <td><%= manage_report.detail %></td>
        <td><%= link_to 'Show', manage_report %></td>
        <td><%= link_to 'Edit', edit_manage_report_path(manage_report) %></td>
        <td><%= link_to 'Destroy', manage_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report', new_manage_report_path %>
