<p id="notice"><%= notice %></p>

<p>
  <strong>Creation:</strong>
  <%= @manage_report.creation %>
</p>

<p>
  <strong>User:</strong>
  <%= @manage_report.user %>
</p>

<p>
  <strong>Title:</strong>
  <%= @manage_report.title %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @manage_report.detail %>
</p>

<%= link_to 'Edit', edit_manage_report_path(@manage_report) %> |
<%= link_to 'Back', manage_reports_path %>
