<p id="notice"><%= notice %></p>

<p>
  <strong>Sid:</strong>
  <%= @creation_comment.sid %>
</p>

<p>
  <strong>Creation:</strong>
  <%= @creation_comment.creation %>
</p>

<p>
  <strong>Site user:</strong>
  <%= @creation_comment.site_user %>
</p>

<p>
  <strong>Body:</strong>
  <%= @creation_comment.body %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @creation_comment.parent %>
</p>

<p>
  <strong>Notice code:</strong>
  <%= @creation_comment.notice_code %>
</p>

<%= link_to 'Edit', edit_creation_comment_path(@creation_comment) %> |
<%= link_to 'Back', creation_comments_path %>
