<p id="notice"><%= notice %></p>

<h1>Listing Report Images</h1>

<table>
  <thead>
    <tr>
      <th>Report</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @report_images.each do |report_image| %>
      <tr>
        <td><%= report_image.report %></td>
        <td><%= report_image.image %></td>
        <td><%= link_to 'Show', report_image %></td>
        <td><%= link_to 'Edit', edit_report_image_path(report_image) %></td>
        <td><%= link_to 'Destroy', report_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report image', new_report_image_path %>
