<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @core_category.name %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @core_category.parent %>
</p>

<%= link_to 'Edit', edit_core_category_path(@core_category) %> |
<%= link_to 'Back', core_categories_path %>
