<p id="notice"><%= notice %></p>

<p>
  <strong>Creation:</strong>
  <%= @creation_piece.creation %>
</p>

<p>
  <strong>Name:</strong>
  <%= @creation_piece.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @creation_piece.description %>
</p>

<p>
  <strong>File:</strong>
  <%= @creation_piece.file %>
</p>

<p>
  <strong>File name for user:</strong>
  <%= @creation_piece.file_name_for_user %>
</p>

<p>
  <strong>Image:</strong>
  <%= @creation_piece.image %>
</p>

<p>
  <strong>Image name for user{256}:</strong>
  <%= @creation_piece.image_name_for_user{256} %>
</p>

<%= link_to 'Edit', edit_creation_piece_path(@creation_piece) %> |
<%= link_to 'Back', creation_pieces_path %>
