<p id="notice"><%= notice %></p>

<p>
  <strong>Sid:</strong>
  <%= @core_creator.sid %>
</p>

<p>
  <strong>User:</strong>
  <%= @core_creator.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @core_creator.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @core_creator.description %>
</p>

<%= link_to 'Edit', edit_core_creator_path(@core_creator) %> |
<%= link_to 'Back', core_creators_path %>
