<%= form_for(@core_creator_image) do |f| %>
  <% if @core_creator_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@core_creator_image.errors.count, "error") %> prohibited this core_creator_image from being saved:</h2>

      <ul>
      <% @core_creator_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :creator_id %><br>
    <%= f.text_field :creator_id %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :in_use %><br>
    <%= f.check_box :in_use %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
