<p id="notice"><%= notice %></p>

<p>
  <strong>Sid:</strong>
  <%= @creator.sid %>
</p>

<p>
  <strong>User:</strong>
  <%= @creator.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @creator.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @creator.description %>
</p>

<%= link_to 'Edit', edit_creator_path(@creator) %> |
<%= link_to 'Back', creators_path %>
