<p id="notice"><%= notice %></p>

<h1>Listing Manage User Images</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Image</th>
      <th>In user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manage_user_images.each do |manage_user_image| %>
      <tr>
        <td><%= manage_user_image.user %></td>
        <td><%= manage_user_image.image %></td>
        <td><%= manage_user_image.in_user %></td>
        <td><%= link_to 'Show', manage_user_image %></td>
        <td><%= link_to 'Edit', edit_manage_user_image_path(manage_user_image) %></td>
        <td><%= link_to 'Destroy', manage_user_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User image', new_manage_user_image_path %>
