<p id="notice"><%= notice %></p>

<h1>Listing Creation Categories</h1>

<table>
  <thead>
    <tr>
      <th>Creation</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @creation_categories.each do |creation_category| %>
      <tr>
        <td><%= creation_category.creation %></td>
        <td><%= creation_category.category %></td>
        <td><%= link_to 'Show', creation_category %></td>
        <td><%= link_to 'Edit', edit_creation_category_path(creation_category) %></td>
        <td><%= link_to 'Destroy', creation_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Creation category', new_creation_category_path %>
