<p id="notice"><%= notice %></p>

<p>
  <strong>Sid:</strong>
  <%= @core_collection.sid %>
</p>

<p>
  <strong>User:</strong>
  <%= @core_collection.user %>
</p>

<p>
  <strong>Title:</strong>
  <%= @core_collection.title %>
</p>

<%= link_to 'Edit', edit_core_collection_path(@core_collection) %> |
<%= link_to 'Back', core_collections_path %>
