<p id="notice"><%= notice %></p>

<p>
  <strong>Site user:</strong>
  <%= @site_user_tag.site_user %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @site_user_tag.tag %>
</p>

<%= link_to 'Edit', edit_site_user_tag_path(@site_user_tag) %> |
<%= link_to 'Back', site_user_tags_path %>
