<p id="notice"><%= notice %></p>

<h1>Listing Creation Tags</h1>

<table>
  <thead>
    <tr>
      <th>Creation</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @creation_tags.each do |creation_tag| %>
      <tr>
        <td><%= creation_tag.creation %></td>
        <td><%= creation_tag.tag %></td>
        <td><%= link_to 'Show', creation_tag %></td>
        <td><%= link_to 'Edit', edit_creation_tag_path(creation_tag) %></td>
        <td><%= link_to 'Destroy', creation_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Creation tag', new_creation_tag_path %>
