<%= form_for(@manage_creation) do |f| %>
  <% if @manage_creation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manage_creation.errors.count, "error") %> prohibited this manage_creation from being saved:</h2>

      <ul>
      <% @manage_creation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sid %><br>
    <%= f.text_field :sid %>
  </div>
  <div class="field">
    <%= f.label :creator_id %><br>
    <%= f.text_field :creator_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :license_code %><br>
    <%= f.text_field :license_code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
