<p id="notice"><%= notice %></p>

<h1>Listing Manage Creations</h1>

<table>
  <thead>
    <tr>
      <th>Sid</th>
      <th>Creator</th>
      <th>Title</th>
      <th>Description</th>
      <th>License code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manage_creations.each do |manage_creation| %>
      <tr>
        <td><%= manage_creation.sid %></td>
        <td><%= manage_creation.creator %></td>
        <td><%= manage_creation.title %></td>
        <td><%= manage_creation.description %></td>
        <td><%= manage_creation.license_code %></td>
        <td><%= link_to 'Show', manage_creation %></td>
        <td><%= link_to 'Edit', edit_manage_creation_path(manage_creation) %></td>
        <td><%= link_to 'Destroy', manage_creation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Creation', new_manage_creation_path %>
