<p id="notice"><%= notice %></p>

<p>
  <strong>Sid:</strong>
  <%= @manage_creation.sid %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @manage_creation.creator %>
</p>

<p>
  <strong>Title:</strong>
  <%= @manage_creation.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @manage_creation.description %>
</p>

<p>
  <strong>License code:</strong>
  <%= @manage_creation.license_code %>
</p>

<%= link_to 'Edit', edit_manage_creation_path(@manage_creation) %> |
<%= link_to 'Back', manage_creations_path %>
