<%= form_for(@tag_class) do |f| %>
  <% if @tag_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag_class.errors.count, "error") %> prohibited this tag_class from being saved:</h2>

      <ul>
      <% @tag_class.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
