<p id="notice"><%= notice %></p>

<h1>Listing Core Tags</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @core_tags.each do |core_tag| %>
      <tr>
        <td><%= core_tag.name %></td>
        <td><%= link_to 'Show', core_tag %></td>
        <td><%= link_to 'Edit', edit_core_tag_path(core_tag) %></td>
        <td><%= link_to 'Destroy', core_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tag', new_core_tag_path %>
