<p id="notice"><%= notice %></p>

<p>
  <strong>Creation:</strong>
  <%= @manage_creation_category.creation %>
</p>

<p>
  <strong>Category:</strong>
  <%= @manage_creation_category.category %>
</p>

<%= link_to 'Edit', edit_manage_creation_category_path(@manage_creation_category) %> |
<%= link_to 'Back', manage_creation_categories_path %>
