<p id="notice"><%= notice %></p>

<h1>Listing Core Creator Tags</h1>

<table>
  <thead>
    <tr>
      <th>Creator</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @core_creator_tags.each do |core_creator_tag| %>
      <tr>
        <td><%= core_creator_tag.creator %></td>
        <td><%= core_creator_tag.tag %></td>
        <td><%= link_to 'Show', core_creator_tag %></td>
        <td><%= link_to 'Edit', edit_core_creator_tag_path(core_creator_tag) %></td>
        <td><%= link_to 'Destroy', core_creator_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Creator tag', new_core_creator_tag_path %>
