<p id="notice"><%= notice %></p>

<p>
  <strong>Creator:</strong>
  <%= @core_creator_tag.creator %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @core_creator_tag.tag %>
</p>

<%= link_to 'Edit', edit_core_creator_tag_path(@core_creator_tag) %> |
<%= link_to 'Back', core_creator_tags_path %>
