<p id="notice"><%= notice %></p>

<p>
  <strong>Collection:</strong>
  <%= @collection_creation.collection %>
</p>

<p>
  <strong>Creation:</strong>
  <%= @collection_creation.creation %>
</p>

<%= link_to 'Edit', edit_collection_creation_path(@collection_creation) %> |
<%= link_to 'Back', collection_creations_path %>
