<h1>Manage::Manage#index</h1>

<div class="Creations">
  <h1>Creations</h1>
  <ul>
    <li><%= link_to 'creations', manage_creations_path %></li>
    <li><%= link_to 'pieces', manage_pieces_path %></li>
    <li><%= link_to 'creation_images', manage_creation_images_path %></li>
    <li><%= link_to 'creation_tags', manage_creation_tags_path %></li>
    <li><%= link_to 'creation_categories', manage_creation_categories_path %></li>
    <li><%= link_to 'creation_comments', manage_creation_comments_path %></li>
    <li><%= link_to 'goods', manage_goods_path %></li>
    <li><%= link_to 'collections', manage_collections_path %></li>
    <li><%= link_to 'collection_creations', manage_collection_creations_path %></li>
    <li><%= link_to 'reports', manage_reports_path %></li>
    <li><%= link_to 'report_images', manage_report_images_path %></li>
  </ul>
</div>
<div class="User/Creators">
  <h1>User/Creators</h1>
  <ul>
    <li><%= link_to 'users', manage_users_path %></li>
    <li><%= link_to 'user_images', manage_user_images_path %></li>
    <li><%= link_to 'creators', manage_creators_path %></li>
    <li><%= link_to 'creator_tags', manage_creator_tags_path %></li>
    <li><%= link_to 'creator_images', manage_creator_images_path %></li>
    <li><%= link_to 'creator_categories', manage_creator_categories_path %></li>
  </ul>
</div>
<div class="Masters">
  <h1>Masters</h1>
  <ul>
    <li><%= link_to 'categories', manage_categories_path %></li>
    <li><%= link_to 'tags', manage_tags_path %></li>
  </ul>
</div>
