<h1>Manage::Manage#index</h1>

<div class="Creations">
  <h1>Creations</h1>
  <ul>
    <li><%= link_to 'creations', core_creations_path %></li>
    <li><%= link_to 'pieces', core_pieces_path %></li>
    <li><%= link_to 'creation_images', core_creation_images_path %></li>
    <li><%= link_to 'creation_tags', core_creation_tags_path %></li>
    <li><%= link_to 'creation_categories', core_creation_categories_path %></li>
    <li><%= link_to 'creation_comments', core_creation_comments_path %></li>
    <li><%= link_to 'goods', core_goods_path %></li>
    <li><%= link_to 'collections', core_collections_path %></li>
    <li><%= link_to 'collection_creations', core_collection_creations_path %></li>
    <li><%= link_to 'reports', core_reports_path %></li>
    <li><%= link_to 'report_images', core_report_images_path %></li>
  </ul>
</div>
<div class="User/Creators">
  <h1>User/Creators</h1>
  <ul>
    <li><%= link_to 'users', core_users_path %></li>
    <li><%= link_to 'user_images', core_user_images_path %></li>
    <li><%= link_to 'creators', core_creators_path %></li>
    <li><%= link_to 'creator_tags', core_creator_tags_path %></li>
    <li><%= link_to 'creator_images', core_creator_images_path %></li>
    <li><%= link_to 'creator_categories', core_creator_categories_path %></li>
  </ul>
</div>
<div class="Masters">
  <h1>Masters</h1>
  <ul>
    <li><%= link_to 'categories', core_categories_path %></li>
    <li><%= link_to 'tags', core_tags_path %></li>
  </ul>
</div>
