<p id="notice"><%= notice %></p>

<p>
  <strong>Creation:</strong>
  <%= @manage_creation_tag.creation %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @manage_creation_tag.tag %>
</p>

<%= link_to 'Edit', edit_manage_creation_tag_path(@manage_creation_tag) %> |
<%= link_to 'Back', manage_creation_tags_path %>
