<%= form_for(@core_collection_creation) do |f| %>
  <% if @core_collection_creation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@core_collection_creation.errors.count, "error") %> prohibited this core_collection_creation from being saved:</h2>

      <ul>
      <% @core_collection_creation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :collection_id %><br>
    <%= f.text_field :collection_id %>
  </div>
  <div class="field">
    <%= f.label :creation_id %><br>
    <%= f.text_field :creation_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
