<p id="notice"><%= notice %></p>

<p>
  <strong>Collection:</strong>
  <%= @core_collection_creation.collection %>
</p>

<p>
  <strong>Creation:</strong>
  <%= @core_collection_creation.creation %>
</p>

<%= link_to 'Edit', edit_core_collection_creation_path(@core_collection_creation) %> |
<%= link_to 'Back', core_collection_creations_path %>
