<p id="notice"><%= notice %></p>

<h1>Listing Manage Creator Images</h1>

<table>
  <thead>
    <tr>
      <th>Creator</th>
      <th>Image</th>
      <th>In use</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manage_creator_images.each do |manage_creator_image| %>
      <tr>
        <td><%= manage_creator_image.creator %></td>
        <td><%= manage_creator_image.image %></td>
        <td><%= manage_creator_image.in_use %></td>
        <td><%= link_to 'Show', manage_creator_image %></td>
        <td><%= link_to 'Edit', edit_manage_creator_image_path(manage_creator_image) %></td>
        <td><%= link_to 'Destroy', manage_creator_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Creator image', new_manage_creator_image_path %>
