<p id="notice"><%= notice %></p>

<h1>Listing Core Goods</h1>

<table>
  <thead>
    <tr>
      <th>Creation</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @core_goods.each do |core_good| %>
      <tr>
        <td><%= core_good.creation %></td>
        <td><%= core_good.user %></td>
        <td><%= link_to 'Show', core_good %></td>
        <td><%= link_to 'Edit', edit_core_good_path(core_good) %></td>
        <td><%= link_to 'Destroy', core_good, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Good', new_core_good_path %>
