<p id="notice"><%= notice %></p>

<p>
  <strong>Creation:</strong>
  <%= @core_good.creation %>
</p>

<p>
  <strong>User:</strong>
  <%= @core_good.user %>
</p>

<%= link_to 'Edit', edit_core_good_path(@core_good) %> |
<%= link_to 'Back', core_goods_path %>
