<p id="notice"><%= notice %></p>

<h1>Listing Creation Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @creation_statuses.each do |creation_status| %>
      <tr>
        <td><%= creation_status.name %></td>
        <td><%= link_to 'Show', creation_status %></td>
        <td><%= link_to 'Edit', edit_creation_status_path(creation_status) %></td>
        <td><%= link_to 'Destroy', creation_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Creation status', new_creation_status_path %>
